body {
	background-color: green;

}

h1 {
	background-color: red;
}
#intro {
	background-color: blue;
}

#wrapper {
	min-height: 150px;
	border:  1px solid black;
}
.paragraph {
	font-size: 32px;
	font-weight: bold;
}
.introduction {
	font-size: 16px;

}

[for="username"] {
font-size: 28px;
}

* {
	font-size: 50px;
}

h1, .paragraph {
	color: violet;
}

p + h5 {
	background-color: red;
}

p + .paragraph {
	background-color:red;
}

.introduction ~ form {
	background-color:orange;
}

nav > a {
	text-transform: uppercase;
}

nav a {
	background-color:yellow;
	text-decoration: none;
}