* {
	margin:0;

}

div {
	padding:20px;
}

.grandparent {
	background:skyblue;
}

.parent {
	background:pink;
	/*position:relative;*/
	/*z-index:10;*/
	position:absolute;
}
}

p {
	/*margin-left: 50px;
	margin-top: 50px*/
  /*  position:relative;
    top:100px;
    right: 100px;*/
    position:absolute;

}

/*inline type*/

strong {
	
	background-color:yellow;
	position:absolute;
	/*position:fixed;*/
	/*top:10px;*/
	/*bottom:0;*/
	/*left: 50px;
	top:100px;*/
	/*position: relative;*/
	/*right:100px;
	left:100px;*/
	top:0;
}

