h1 {
	position:fixed;
	top:0px;
	left:0px;
	margin:0px;
	padding: 10px;
	width:100%;
	background-color: gray;
	z-index:1;
}

p{
	position: relative;
	top:70px;
	left:70px;
	height:1000px;
	background-color: #efefef;
}

h2	{
	position: fixed;
	z-index:-1;
	background-color: #aaa;
}