* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	color:#fffffc;
	font-family: sans-serif;
}

.background {
	background-color:#020300;
	height:100vh;
	/*text-align:center;*/
	display:flex;
	justify-content: center;
	align-items:center;
}

.background div {
	text-align:center;
	border:1px solid #69fff1;
	padding: 30px 45px;
	position:relative;
}

div > a {
	position:absolute;
	background-color:#020300;
	border: 1px solid #69fff1;
	padding:10px 15px;
	left:50%;
	bottom: 0px;
	transform: translate(-50%,50%)
}

 /*child direct descendants*/
div > a:hover {
	background-color:#69fff1;
	color:white;
}


/*blck: #020300*/
/*white:#fffffc*/
/*#69fff1*/