
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}


h1, p {

	background-color:#DDE0E3;
}

em, strong {
	background-color: #B2D6FF;
	/*display:block;
	padding:50px;
*/}
   
 
 /*h1 { background-color:indianred;
	border:5px solid black;
	text-align:center;
	margin:50px;  }
*/
	h1{
		padding:50px;
	border-top:1px dotted #5D6063;
	border-right: 1px dashed #5D6063;
	border-bottom: 1px double #5D6063;
	border-left: 1px dotted #5D6063;
	/*border:1px solid #5D6063;*/
    /*padding: 10px;
	padding-right:20px;
	padding-bottom:30px;
	padding-left: 40px;*/
}
	} 
  

p {
	padding: 20px 0 20px 10px;
	margin-bottom: 50px 
}

strong {
margin:50px;
}

div {
	background-color:skyblue;
	padding:20px;
	text-align: center;
	border: 2px solid #5D6063;
	border-radius:5px;
	width: 50%;
	/*Existing declaratons*/
	box-sizing: border-box;
	margin:20px auto;


}

span {
	font-size: 2em;
	color: red;
}

ul {
	list-style:none;
}

ul > li {
	display:inline-block; 
	/*block elements will be displayed as inline elements*/
}

ul > li:active {
	/*display:none;
	visibility:hidden;*/
}





